*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: gray;
    width: 1400px;
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
}

.top-nav{
    width: 100%; /* Ancho completo de la pantalla */
    height: 150px;
    background-color: green;
}

.main{
    display: flex;
}

.left{
    background-color: blue;
    height: 500px;
    flex: 1;
}

.right{
    background-color: red;
    height: 600px;
    flex: 3;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    padding: 20px 0px 0px 20px;
    gap: 30px;
}

.left, .right{
    margin-top: 20px;
}

.yellow{
    display: flex;
    background-color: yellow;
    width: 270px;
    height: 270px;
}

.morado{
    display: flex;
    background-color: blueviolet;
    width: 870px;
    height: 150px;
    margin: 0px 0px 130px 0px;
}