*{
    margin: 4px;
    padding: 0px;
    /* outline: solid 1px red; */
    font-family: 'Comic Sans MS';
}
body{
    background-color: black;
}
.nav-container{
    background-color: #333333;
    padding: 5px;
    border: solid 3px black;
    animation: Change-border 10s infinite linear;
}
.nav-items, .left, .right{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    color: #fff;
    gap: 5px
}
.button{
    background-color: #17a2b8;
    color: white;
    height: 40px;
    box-shadow: 4px 4px 0px 0px black ;
    border: solid 2px #17a2b8;
    animation: Change-border 10s infinite linear;
}
@keyframes Change-border{
    0%, 100%{
        border-color: green;
    }
    25%, 75%{
        border-color: red;
    }
    50%{
        border-color: blue;
    }
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}