*{
    margin: 0;
    padding: 0;
    /* outline: solid 20px black; */
}
.container{
    display: flex;
    background-color: black;
    width: 800px;
    height: 800px;
    margin: auto;
}
.left{
    flex:1;
}
.right{
    flex: 3;
}

.white{
    background-color: white;
    width: 95%;
    height: 250px;
    margin-bottom: 30px;
}

.white:last-of-type{
    background-color: white;
    width: 95%;
    height: 310px;
}

.blue{
    background-color: blue;
    width: 95%;
    height: 230px;
}

.red{
    background-color: red;
    width: 95%;
    height: 70%;
}

.white1{
    background-color: white;
    width: 78%;
    height:200px;
    
}

.smallBox{
    background-color: yellow;
    width: 20%;
    height: 60px;
    margin-bottom: auto;
}

.smallBox:first-of-type{
    background-color: white;
}