*{
    margin: 0;
    padding: 0;
    outline: solid 1px black;
}
.container{
    display: flex;
    background-color: black;
    width: 800px;
    height: 800px;
    margin: auto;
}
.left{
    flex:1;
    background-color: blue;
}
.right{
    flex: 3;
    background-color: red;
}